body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ql-editor img {
  max-width: 220px;
  max-height: 170px;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}
/* MouseCursor.css */

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: visible;
  z-index: 9999;
}

.cursor-inner {
  width: 6px;
  height: 6px;
  background-color: var(--theme2);
  /* Customize with your preferred color */
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  background-color: var(--theme2);
  opacity: 0.3;
}

.cursor-outer {
  width: 30px;
  height: 30px;
  border: 1px solid var(--theme2);
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.08s ease-out;
  opacity: 0.5;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
